.contact-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8rem;
}

.contact-main>.contact-container {
    color: #6C6C6C;
}

.contact-main>.contact-container>.basic {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.contact-main>.contact-container>.social-media {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

@media screen and (max-width: 720px) {
    .contact-main>.contact-container>.basic {
        flex-direction: column;
        gap: 1.75rem;
    }
}