.contact-item-title {
    font-size: 2.375rem;
    margin: 0;
    line-height: 2.265rem;
    color: #131313;
    margin: 0;
}

.contact-item>.contact-item-decorator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0;
}

.contact-item .circle {
    height: 0.75rem;
    width: 0.75rem;
}

.contact-item-subtitle {
    color: #AEAFB5;
    font-size: 1rem;
    margin: 0 0 0 1.75rem;
}