@font-face {
    font-family: "Portfolio-SuperHeading";
    src: url("../../fonts/LinikSans-ExtraBold.ttf");
}

@font-face {
    font-family: "Portfolio-Black";
    src: url("../../fonts/Satoshi-Black.woff2");
}

@font-face {
    font-family: "Portfolio";
    src: url("../../fonts/Satoshi-Regular.woff2");
}

@font-face {
    font-family: "Portfolio-Bold";
    src: url("../../fonts/Satoshi-Bold.woff2");
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #010101 !important;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 12px;
    }
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}