@font-face {
    font-family: "Portfolio-Medium";
    src: url("../../fonts/NeueMontreal-Medium.otf");
}

@font-face {
    font-family: "Portfolio";
    src: url("../../fonts/NeueMontreal-Regular.otf");
}

@font-face {
    font-family: "Portfolio-Bold";
    src: url("../../fonts/NeueMontreal-Bold.otf");
}

@font-face {
    font-family: "Portfolio-Light";
    src: url("../../fonts/NeueMontreal-Light.otf");
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 12px;
    }
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}